{% extends 'adminnav.html' %}
{% load static %}
{% block url %}
<a class="nav-link active" aria-current="page" href="{% url 'prinicpal' %}"
style="font-size: 18px; padding: 10px 15px;">Home</a>
{% endblock url %}
{% block header %}
<title>Search</title>
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
<form  id="filterForm">
    <div class="main_container">
        <div class="search_filters">
            {% csrf_token %}
            <div class="filters">
                <select name="year" class="filter_1">
                    <option value="">year</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                
                <select name="dept" class="filter_1">
                    <option value="">department</option>
                    <option value="CSE">be-cse</option>
                    <option value="ICE">be-ice</option>
                    <option value="MCA">mca</option>
                </select>

                <button type="button" class="filter_but"  onclick="filterData()">Filter</button>
            </div>
        </div>
    </div>
</form>
<div class="data" id="dataContainer">
    <!-- Dynamically added user data will appear here -->
</div>
{% endblock %}

{% block script %}
<script>
    
    function getDomainName(key) {
        if(key == 'local'){
            return '127.0.0.1:8000';
        }else{
            return 'shaheenavc.pythonanywhere';
        }
      }
    const currentDomain = getDomainName('deploy');
    console.log('domain name : ' + currentDomain); 
    function filterData() {
        const form = document.getElementById('filterForm');
        const formData = new FormData(form);

        // Prepare data for JSON request
        const requestData = {};
        const is_analysis = {{is_analysis}};
        const btn_name = (is_analysis) ? "View" : "Report"; 
        requestData['mode'] = "{{mode}}";
        formData.forEach((value, key) => {
            requestData[key] = value;
        });

        // Send API POST request
        fetch("{% url 'class-search' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify(requestData),
        })
            .then(response => response.json())
            .then(data => {
                // Clear previous data
                const dataContainer = document.getElementById('dataContainer');
                dataContainer.innerHTML = '';

                // Handle response data
                console.log(data);
                    if(data.A){
                        const userDiv = document.createElement('div');
                        userDiv.className = 'user';
                        let url = (!is_analysis) ? `http://${currentDomain}/prinicipal/creport/${requestData.mode}/A/${data.sem}/${data.dept}/` : `http://127.0.0.1:8000/analysis/class/${data.sem}/A/${data.dept}/`;
                        userDiv.innerHTML = `
                        <div class="stafs">
                            <img src="{% static 'assets/a-letter.svg' %}" alt="User Image">
                        </div>
                        <div>
                            <p> A</p>
                        </div>
                        <div>
                            <p>${data.dept}</p>
                        </div>
                        <a href="${url}" class="data_but">${btn_name}</a>
                    `;
                    dataContainer.appendChild(userDiv);
                }
                if(data.B){
                    const userDiv = document.createElement('div');
                    userDiv.className = 'user';
                    let url = (!is_analysis) ? `http://${currentDomain}/prinicipal/creport/${requestData.mode}/B/${data.sem}/${data.dept}/` : `http://127.0.0.1:8000/analysis/class/${data.sem}/B/${data.dept}`;
                    userDiv.innerHTML = `
                    <div class="stafs">
                        <img src="{% static 'assets/letter-b.png' %}" alt="User Image">
                    </div>
                    <div>
                        <p> B </p>
                    </div>
                    <div>
                        <p>${data.dept} </p>
                    </div>
                    <a href="${url}" class="data_but">${btn_name}</a>
                    `;
                    dataContainer.appendChild(userDiv);
                }
                       
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
{% endblock %}