{% extends 'adminnav.html' %}
{% load static %}
{% block url %}
<a class="nav-link active" aria-current="page" href="{% url 'prinicpal' %}"
style="font-size: 18px; padding: 10px 15px;">Home</a>
{% endblock url %}
{% block header %}
<title>Department</title>
{% endblock header %}
{% block style %}
<style>
.transparent-box {

    background-color: rgba(255, 255, 255, 0.8);
    /* White with transparency */

    border-radius: 10px;

    padding: 20px;

}

.big-img {

    max-width: 100%;

    height: auto;

}

.btn-custom {

    background-color: blue;

    color: white;

    margin: 10px 0;
    /* Space between buttons */

}
</style>
{% endblock style %}

{% block content %}
<div class="col-md-6 d-flex align-items-center justify-content-center">
    <div class="transparent-box">
        <a href="{% url 'd-report' 'CSE' %}" class="btn btn-custom w-100">CSE</a>
        <a href="{% url 'd-report' 'ICE' %}" class="btn btn-custom w-100"> ICE</a>
        <a href="{% url 'd-report' 'EEE' %}" class="btn btn-custom w-100">EEE</a>
        <a href="{% url 'd-report' 'MECH' %}" class="btn btn-custom w-100">MECH</a>
        <a href="{% url 'd-report' 'IT' %}" class="btn btn-custom w-100">IT</a>
        <a href="{% url 'd-report' 'MCA' %}" class="btn btn-custom w-100">MCA</a>
        <a href="{% url 'd-report' 'CLG' %}" class="btn btn-custom w-100">CLG</a>
    </div>
</div>
{% endblock content %}

