nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 8px 20px 8px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav_rig {
    display: flex;
    align-items: center;
    gap: 50px;
}
.logo_img {
    width: 10px; 
    height: auto;
}