nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.nav_rig {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.buttons {
    display: flex;
    gap: 15px;
}

.but {
    height: 35px;
    width: 90px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.log_but{
    height: 35px;
    width: 90px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #fff;
    background-color:  #37b6ff;
}

.but, .log_but :hover {
    transform: scale(1.05);
    
}