@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.nav_rig {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.buttons {
    display: flex;
    gap: 15px;
}

.but {
    height: 35px;
    width: 90px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.log_but{
    height: 35px;
    width: 90px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #fff;
    background-color:  #37b6ff;
}

.but, .log_but :hover {
    transform: scale(1.05);
    
}

body {
    background-color: rgba(233, 233, 233, 0.842);
    padding: 20px 30px;
}

.main_container {
    border: 2px solid rgba(197, 197, 197, 0.767);
    border-radius: 10px;
    width: auto;
    background-color: white;
    overflow-y: auto;
    margin-top: 20px;
}

.search_filters {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.sear {
    border: 2px solid rgba(197, 197, 197, 0.767);
    border-radius: 5px;
    padding: 5px 15px;
    width: 250px;
    outline: none;
}

.filters {
    display: flex;
    gap: 15px;
}

.filter_1, .filter_but, .data_but {
    border: 2px solid rgba(197, 197, 197, 0.767);
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease;
}

.filter_1 {
    height: 30px;
    width: 90px;
}

.filter_but {
    width: 60px;
    background-color: rgba(233, 233, 233, 0.842);
}

.filter_but:hover, .data_but:hover {
    background-color: #e0e0e0;
}

.data {
    border: 2px solid rgba(197, 197, 197, 0.767);
    border-radius: 10px;
    width: auto;
    background-color: white;
    overflow-y: auto;
    margin-top: 20px;
    padding: 15px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.user:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
}

.stafs {
    font-size: 1em;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.stafs img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.data_but {
    width: 80px;
    height: 30px;
    background-color: rgba(233, 233, 233, 0.842);
}