<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}
    {% endblock %}
</head>
<style>
</style>
<body>
    <nav>
        <div class="nav_rig">
            <div class="logo">
                logo
            </div>
            <div class="logo">
                AVC Admin
            </div>
        </div>
        <div class="buttons">
            <button onclick="admin()" class="but">Home</button>
            <button class="log_but">Logout</button>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <!-- navi script -->
    <script>
        function admin(){
            window.location.href = "{% url 'admin:index' %}";
        }
    </script>
</body>
</html>
