{% extends 'admin/nav.html' %}

{% block content %}
<p class="h1">Student who filled feedback </p>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">regno</th>
                <th scope="col">name</th>
                <th scope="col">semester</th>
                <th scope="col">section</th>
                <th scope="col">check</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th scope="row">{{student.regno}}</th>
                <td>{{student.name}}</td>
                <td>{{student.semester}}</td>
                <td>{{student.section}}</td>
                <td><i class="bi bi-check-circle-fill"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}