{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="nitheesh">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/extra_stuff.css' %}">
  </head>
  <body>
    <div class="s009">
      <form method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="inner-form">
          <div class="basic-search">
            <div class="input-field">
              <input id="search" type="text" name="query" placeholder="search" />
              <div class="icon-wrap">
                <svg class="svg-inline--fa fa-search fa-w-16" fill="#ccc" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="advance-search">
            <span class="desc">ADVANCED SEARCH</span>
            <div class="row">
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">Accessories</option>
                    <option>Subject b</option>
                    <option>Subject c</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">Color</option>
                    <option>Subject b</option>
                    <option>Subject c</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">Size</option>
                    <option>Subject b</option>
                    <option>Subject c</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="row third">
              <div class="input-field">
                <div class="result-count">
                  {% if result %}
                  <span>{{result}}</span>results</div>
                  {% else %}
                  <span>0</span>results</div>
                  {% endif %}
                <div class="group-btn">
                  <button class="btn-delete" id="delete">RESET</button>
                  <button type="submit" class="btn-search">SEARCH</button>
                </div>
              </div>
            </div>

            <div class="forth">
              
              {% for staff in staffs %}
              <div class="faculty">
                <div class="seprate">
                <div class="there_image">
                  <img class = "images" src="Apple_ipod_by_fluid_art.jpg" alt="">
                </div>
                <p>{{staff.name}}</p>
                </div>
                <button class="click_hear" onclick="redirect('{{staff.id}}')">click hear</button>
              </div>
              {% endfor %}
            </div>
            
    
            
          </div>
        </div>
      </form>
    </div>
    <script src="{% static 'js/extention/choices.js' %}"></script>
    <script>
      const customSelects = document.querySelectorAll("select");
      const deleteBtn = document.getElementById('delete')
      const choices = new Choices('select',
      {
        searchEnabled: false,
        itemSelectText: '',
        removeItemButton: true,
      });
      deleteBtn.addEventListener("click", function(e)
      {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
          deleteAll[i].click();
        }
      });
      function redirect(id){
        window.location.href = `http://127.0.0.1:8000/staff/${id}/`;

      }

    </script>
  </body>
</html>
