{% load static %}
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="nitheesh">
  <link rel="icon" type="image/x-icon" href="{% static 'assets/avc.jpeg' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />
  <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/extra_stuff.css' %}">
</head>

<body>
  <div class="s009">
    <form method="post" action="{% url 'search' %}">
      {% csrf_token %}
      <div class="inner-form">
        <div class="basic-search">
          <div class="input-field">
            <input id="search" type="text" name="query" placeholder="search" />
            <div class="icon-wrap">
              <!-- SVG content here -->
            </div>
          </div>
        </div>
        <div class="advance-search">
          <span class="desc">ADVANCED SEARCH</span>
          <div class="row">
            <div class="input-field">
              <div class="input-select">
                <select name="department">
                  <option value="">Department</option>
                  <option value="CSE">Computer Science</option>
                  <option value="IT">Information Technology</option>
                </select>
              </div>
            </div>
            <div class="input-field">
              <div class="input-select">
                <select name="gender">
                  <option value="">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
            <div class="input-field">
              <div class="input-select">
                <select name="hclass">
                  <option value="">class</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row third">
            <div class="input-field">
              <div class="result-count">
                {% if result %}
                <span>{{ result }}</span> results
                {% else %}
                <span>0</span> results
                {% endif %}
              </div>
              <div class="group-btn">
                <button class="btn-delete" id="delete">RESET</button>
                <button type="submit" class="btn-search">SEARCH</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>


    <div class="forth">

      {% for staff in staffs %}
      <div class="faculty">
        <div class="seprate">
          <div class="there_image">
            <img class="images" src="{{staff.proflie_pic.url}}" alt="profile-img">
          </div>
          <p>{{staff.fname}} {{satff.sname}} - {{staff.dept}}</p>
        </div>
        <button class="click_hear" type="button" onclick="redirect('{{staff.id}}')">click hear</button>
      </div>
      {% endfor %}
    </div>



  </div>
  </div>
  </div>
  <!-- <script src="{% static 'js/extention/flatpicker.js' %}"></script> -->
  <script>
    document.getElementById("search").addEventListener("keydown", function (event) {
      if (event.key === "Enter") {
        event.preventDefault(); // Prevent form submission
        console.log("Enter key pressed, form submission prevented.");
      }
    });
    const form = document.querySelector('form');
    function redirect(id) {
      window.location.href = `http://127.0.0.1:8000/staff/${id}/`;
    }
  </script>
</body>

</html>
