<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/dd9af7210e.js" crossorigin="anonymous"></script>
    <title>Responsive Our Team Section</title>
</head>
<body>
  <section id="team">
      <h1 class="heading">
          <i class="fas fa-rocket"></i><strong>Our Team</strong>
      </h1>
      <div class="container">
          <div class="box">
              <div class="top-bar"></div>
                  <div class="nav">
                      <i class="verify fas fa-check-circle"></i>
                      <input type="checkbox" class="heart-btn" id="heart-btn">
                      <label  class="heart"></label>
                  </div>

                  <div class="details">
                      <img src="3d-buddha-statue.jpg" alt="">
                      <strong>shaheen</strong>
                      <p>shaheen@gmail.com</p>
                  </div>

                  <div class="btn">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                  </div>
              </div>
          <div class="box">
              <div class="top-bar"></div>
                  <div class="nav">
                      <i class="verify fas fa-check-circle"></i>
                      <input type="checkbox" class="heart-btn" id="heart-btn">
                      <label  class="heart"></label>
                  </div>

                  <div class="details">
                      <img src="3d-buddha-statue.jpg" alt="">
                      <strong>Nitheesh</strong>
                      <p>Nitheesh@gmail.com</p>
                  </div>

                  <div class="btn">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                  </div>
              </div>
          
          
      </div>
  </section>
</body>
</html>